.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #242424;
    color: white;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar li {
    cursor: pointer;
}